@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4ade80;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 345px;
}

@media (min-width: 640px) {
  body {
    margin: 0 0 297px;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0 0 206px;
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1024px) {
  aside {
    position: fixed !important;
  }
}
